.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  font-size: 20px;
  border-color: var(--dl-color-grays-dark100);
  border-width: 1px;
  text-transform: uppercase;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-text1 {
  font-size: 20px;
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}










@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
