.primary-btn-container {
  display: flex;
  position: relative;
}
.primary-btn-primary-btn {
  width: 182px;
  height: 83px;
  padding: var(--dl-space-space-twounits);
  font-size: 20px;
  padding-left: 32px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: transparent;
  background-image: linear-gradient(270deg, rgb(118, 16, 234) 0.00%,rgb(246, 9, 39) 100.00%,rgb(246, 9, 39) 100.00%);
}
@media(max-width: 1600px) {
  .primary-btn-primary-btn {
    width: 166px;
    height: 76px;
    padding: var(--dl-space-space-twounits);
    font-size: 20px;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .primary-btn-primary-btn {
    display: none;
  }
}
